*.swp
*.swo
*.a
*.app
*.dll
*.dylib
*.exe
*.la
*.lai
*.lib
*.lo
*.o
*.obj
*.out
*.slo
*.so
*.*~
*.user
build-rl-gmp-Desktop-Debug
build-rl-gmp-Desktop-Release
build-Debug
build-Release
Release
Debug
build

